* {
  color: beige;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(media/tumblr_ab21e107fb4e3026afb1e05e0c225163_6f35a971_1280.webp);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
main {
  max-height: calc(100% - 120px); /* 100px es la altura de tu footer */
  overflow: auto; /* si el contenido es más grande que el contenedor, se habilita el scroll */
}


.fade-in {
  opacity: 0; /* Empieza con opacidad cero para estar oculto */
  animation: fade-in 0.5s ease-in-out forwards; /* Anima la opacidad durante 0.5s */
}

@keyframes fade-in {
  from {
    opacity: 0;
  } /* Empieza con opacidad cero */
  to {
    opacity: 1;
  } /* Termina con opacidad 1 */
}


/*About*/


.image-container {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 100px;
  width: 100px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.438);
  
}


/*Contact*/

.navbar-collapse {
  transition: height 1s ease;
}


.form-control {
  background-color: #333;
  border-color: #555;
  color: #fff;
}

.form-control:focus {
  background-color: #444;
  border-color: #888;
  color: #fff;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}














/*proyectos*/ 
.carousel-item img {
  height: 300px;
  object-fit: contain;
}
.carousel-item .carousel-text-container {
  width: 90%;
  height: 200px;
  margin-bottom: 500px;
}

.carousel-item .carousel-text-container h3,
.carousel-item .carousel-text-container p {
  font-size: 1rem;
  line-height: 1.5rem;
}



